.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.card-container {
    display: flex;
    height: 450px;
    width: 350px;
    justify-content: center;
    align-items: center;
}

.signUp-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#card-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 480px;
    width: 400px;
    padding: 50px;
}

#login-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 265px;
    width: 400px;
    padding: 50px;
}

#fpassword-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 230px;
    width: 400px;
    padding: 50px;
}
.title-div {
    margin-top: -70px;
    background-color: #d4d4d4;
    height: 69px;
    width: 100%;
}

#names-div {
    display: flex;
    justify-content: space-between;
    margin-top: -32px;
}

.input-name {
    width: 48%;
}

.row-content {
    width: 100%;
    margin-top: -32px;
}

.password-div {
    margin-top: -32px;
}

.link-div {
    margin-top: -53px;
}

.btn {
    width: 10;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}